@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.signature {
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
  color: #333;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.players-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.best-scores {
  margin-top: 20px;
}

.best-scores h3 {
  text-align: center;
  font-size: 30px;
  color: #c60c71;
}

.best-scores table {
  width: 100%;
  border-collapse: collapse;
}

.best-scores th,
.best-scores td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.best-scores th {
  background-color: #4caf50;
  color: white;
}

.round-history {
  margin-top: 40px;
}

.round-card {
  border: 5px solid #c60c71;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.round-card h4 {
  font-size: 20px;
  color: #333;
}

.round-card p {
  font-size: 16px;
}

.round-card img {
  max-width: 100px;
  border: 2px solid #086429;
  border-radius: 10px;
  margin-top: 10px;
}

.score-details {
  width: 100%;
  border: #086429 5px solid;
  padding: 20px;
  background-color: #ffffff;
}

td,
p,
span {
  background-color: #ffffff;
}

.hole-info-table {
  width: 100%;
  border-collapse: collapse;
}

.hole-info-table th,
.hole-info-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.hole-info-table th {
  background-color: #4caf50;
  color: white;
}

.show-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-button:hover {
  background-color: #45a049;
}
